<div class="login-wrapper">
    <div class="form-container">
        <h1 class="login__title">Login</h1>

        <form action="">
            <!-- Email Field -->
            <div class="form-group">
                <i class="ri-mail-line login__icon"></i>
                <input type="email" class="form-control login__input" id="login-email" placeholder="Email" required>
            </div>

            <!-- Password Field -->
            <div class="form-group">
                <i class="ri-lock-2-line login__icon"></i>
                <input type="password" class="form-control login__input" id="login-pass" placeholder="Password" required>
                <i class="ri-eye-off-line login__eye" id="login-eye"></i>
            </div>

            <!-- Remember Me and Forgot Password -->
            <div class="login__extra-options">
                <label>
                    <input type="checkbox"> Remember me
                </label>
                <a href="#" class="text-white">Forgot Password?</a>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-block login__button">Login</button>

            <!-- Signup Option -->
            <div class="text-center mt-3">
                <span>Don’t have an account? <a href="#" class="text-white font-weight-bold" routerLink="/signup">Register</a></span>
            </div>
        </form>
    </div>
</div>
