/* Custom styles for navbar */

.navbar-custom {
    background: rgba(0, 0, 0, 0.5); /* Darker transparent background */
    backdrop-filter: blur(5px);
    position: absolute;
    // top: 0;
    width: 100%;
    z-index: 10; /* Ensures it sits above other content */
    padding: 1rem 3rem;
}

.navbar-toggler {
    background-color: rgb(169, 169, 146);
}

.navbar-brand, .nav-link, .btn-login, .btn-signup {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

/* Navbar brand hover, focus, and active state */
.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
    color: #9EB3C2;
    // background-color: transparent !important;
    border: none;
    outline: none;
}

/* Nav link active state */
.nav-link {
    color: white; /* Default color */
    text-decoration: none; /* Remove default underline */
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.nav-link.active{
    color: #9EB3C2;
    background-color: transparent !important;
    border: none;
    text-decoration: underline;
}
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjusts position below text */
    width: 0;
    height: 2px; /* Sets thickness of underline */
    background-color: #9EB3C2; /* Sets underline color */
    transition: width 0.3s ease; /* Smooth expand effect */
}

.nav-link:hover::after, .nav-link.active::after, .nav-link:focus::after {
    width: 100%; /* Expands the underline on hover, focus, or active */
}

.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.search-bar {
    width: 350px;
    background-color: rgba(216, 195, 195, 0.842);
    border-radius: 15px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
}

.nav-link {
    color: white;
    margin-right: 20px;
    transition: color 0.3s;
}

/* Button styles */
.btn-login, .btn-signup {
    padding: 5px 15px;
    color: rgb(9, 20, 47);
    background-color: rgba(197, 198, 201, 0.6);
    border: none;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #DF645A;
    color: white;
}
.btn-signup:hover {
    background-color: #E9DEC8;
    color: rgb(0, 0, 0);
}