/* You can add global styles to this file, and also import other style files */
body {
  background: rgba(131, 127, 127, 0.5); /* Darker transparent background */
  color: hsl(0, 0%, 100%);
  

}
  
  body,
input,
button {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}
   