<div class="login-wrapper">
    <div class="form-container">
        <h1 class="login__title">Signup</h1>

        <form action="">
            <div class="form-group">
                <i class="ri-user-3-line login__icon"></i>
                <input type="name" class="form-control login__input" id="login-name" placeholder="Name" required>
            </div>
            <!-- Email Field -->
            <div class="form-group">
                <i class="ri-mail-line login__icon"></i>
                <input type="email" class="form-control login__input" id="login-email" placeholder="Email" required>
            </div>

            <!-- Password Field -->
            <div class="form-group">
                <i class="ri-lock-2-line login__icon"></i>
                <input type="password" class="form-control login__input" id="login-pass" placeholder="Password" required>
                <i class="ri-eye-off-line login__eye" id="login-eye"></i>
            </div>

            <!-- Remember Me and Forgot Password -->

            <!-- Submit Button -->
            <button type="submit" class="btn btn-block login__button">Create</button>
        </form>
    </div>
</div>